html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
	vertical-align: baseline;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
	background: transparent;
	list-style: none;
}

* {
	box-sizing: border-box;
}

.font-white {
  color: #d0d0d0;
  font-size: 30px;
  letter-spacing: 1px;
}

.font-directions {
  color: #d0d0d0;
  font-size: 15x;
  /* letter-spacing: 1px; */
}

.background {
  width: auto;
  height: 100%;
  justify-content: center;
  background-color: black;
  /* background-color: navy; */
}

.title {
  align-self: center;
  text-align: center;
}

.flex {
  display: flex;
}

.center-col {
  align-items: center;
}

.center-row {
  justify-items: center;
  justify-content: space-evenly;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.main {
  width: 500px;
  height: 100vh;
  justify-content: center;
}

.contact {
  justify-content: space-evenly;
}

canvas {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#links img {
  transition: transform 0.2s ease;
  cursor: pointer;
}


#links img:hover {
  transform: scale(1.2);
}

#github {
  height: 50px;
  margin-right: 40px;
}

#linkedin {
  height: 35px;
}

#high-score-name {
  font-size: 20px;
  margin-right: 20px;
}

#high-score-score {
  font-size: 20px;
  margin-left: 20px;
}

.list-item {
  font-size: 15px;
}

.scorebox {
  border: 1px solid #d0d0d0;
  padding: 20px;
  margin: 10px;
  width: 250px;
  height: 170px;
  align-items: center;
}

.top5-title{
  font-size: 20px;
  color: #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 10px;
}

.scores {
  width: auto;
  justify-content: space-evenly;
}